* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #f9fafb;
}
/* header */
.header {
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4f46e5;
}
.logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  background-color: #eef2ff;
}
.logo span i {
  color: #4f46e5;
  border-radius: 50%;
  border: 2px solid #4f46e5;
}

/* main */
.main_heading {
  width: 100%;
  height: auto;
  padding: 2rem 8rem 4rem 8rem;
}
.heading_1 {
  font-size: 2.5rem;
  margin: 0 0 1.2rem 0;
}
.main_heading_para {
  font-size: 1.6rem;
  color: #6b7280;
}
.balance_tracker {
  width: 100%;
  height: auto;
  padding: 0 8rem 4rem 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.balance_tracker_common {
  background-color: #ffffff;
  width: 35rem;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.t_b_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_b_heading {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
  color: #6b7280;
}
.t_b_amount {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #000000;
}
.t_b_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  background-color: #eef2ff;
}
.t_b_icon {
  font-size: 2rem;
  color: #4f46e5;
  border-radius: 50%;
  border: 2px solid #4f46e5;
}
.t_b_para {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #6b7280;
}
.t_b_para_percentage {
  color: #53d282;
}
.income_box_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  background-color: #dcfce7;
}
.chart_line_up {
  font-size: 2rem;
  color: #16a34a;
  border-radius: 50%;
}
.expense_box_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  background-color: #fee2e2;
}
.chart_line_down {
  font-size: 2rem;
  color: #dc2626;
}
.expense_para_percentage {
  color: #f15959;
}

/* add_expense_div */

.add_expense_div_main {
  width: 100%;
  height: auto;
  padding: 0 8rem 4rem 8rem;
}
.add_expense_div {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
}
.add_expense_heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.expense_inputs {
  display: flex;
  gap: 2rem;
}
.description_input {
  width: 40%;
  height: auto;
}
#description {
  width: 100%;
  height: 5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 2px solid #6b7280;
}
.expense_input_common {
  width: 20%;
  height: auto;
}
.expense_input_common_style {
  width: 100%;
  height: 5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 2px solid #6b7280;
}
.expense_label_common {
  font-size: 1.6rem;
  color: #6b7280;
}
.add_expense_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}
.clear_btn {
  width: 10rem;
  height: 4rem;
  background-color: #ffffff;
  color: #6b7280;
  border: 1px solid #6b7280;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-right: 2rem;
  cursor: pointer;
}
.add_expense_btn {
  width: 18rem;
  height: 4rem;
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.show_all_expenses_main {
  padding: 0 8rem 4rem 8rem;
}
.show_all_expense {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 2rem;
}
.show_all_expense_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.s_a_e_heading {
  font-size: 2.4rem;
}
.view_all_btn {
  background-color: transparent;
  border: none;
  color: #4f46e5;
  font-size: 1.6rem;
  cursor: pointer;
}
.actual_table {
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
}
.header_row {
  border-bottom: 1px solid #6b7280;
}
.header_row th {
  color: #6b7280;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.body_row {
  border-bottom: 1px solid #6b7280;
}

.body_row td {
  font-size: 1.6rem;
  padding: 1rem 0;
}
.delete-icon {
  color: #dc2626;
  cursor: pointer;
}
.e_t_b_amount {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #000000;
}
