* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate_form {
  background-color: #000000;
  border: 2px solid red;
  width: 500px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}
.generate_form h1 {
  text-align: center;
  margin-bottom: 10px;
}
.generate_form p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.generate_btn {
  width: 200px;
  height: 40px;
  background-color: rgb(243, 59, 59);
  border: none;
  color: white;
  font-size: 16px;
  display: block;
  place-self: center;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
}
.generate_btn:active {
  scale: 110%;
}

.show_joke {
  width: 500px;
  margin-top: 3rem;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  transition: scale 0.5s ease-in-out;
}
.show_joke:hover {
  scale: 110%;
}
.joke {
  font-size: 20px;
}
